/*Variables*/
$color-fuente: rgb(143, 127, 87);

@media screen and (min-width: 320px) {
body{
    background-image: url(../img/charcoal.gif);
    
    header{
        text-align: center;
        
        img{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
        }
        
        h3{
            margin-top: 100px;
            border: solid 5px $color-fuente;
            text-align: center;
            font-style: italic;
            color: $color-fuente;
            text-shadow: 1px 1px rgb(247, 244, 241);
            font-size: xx-large;  
            position: relative;
            margin-bottom: 50px;
            margin-left: 25px;
            margin-right: 25px;
            width: auto;
        }
        
        nav{
            display: flex;
            justify-content: center;
            
                ul{
                    font-style: italic;
                    color: $color-fuente ;
                    line-height: calc(2);
                    font-size: larger;
                    align-items: center;
                    display: grid;
                    
                        li{
                            color: $color-fuente;}
                        a{  
                            color: $color-fuente;
                                &:visited{
                                    color: rgba(206, 206, 216, 0.473);
                                    }    
                                &:hover {
                                    color: $color-fuente;
                                    text-shadow: 1px 1px rgb(247, 244, 241);
                                }
                                a:active {
                                    color: #000;
                                    text-shadow: rgb(247, 244, 241);
                                }
                            }
                        }
                    }
    main{
        font-style: italic;
        text-align: center;
        font-size: large;
        article{
            width: 300px;
            color: $color-fuente;
                p{ 
                    background-color: #333;
                    border: solid 5px #000;
                    color: $color-fuente;
                }
            }
        }
    }
    section{
        align-items:center;
            img{
                margin-top: 50px;
                margin-left: 25px;
                border-radius: 50px;
                align-items: center;
                height: 5px;
                width: 5px;
                &:hover{
                transform: rotate(15deg);}
            }
        }
    footer{
        color: $color-fuente;
        margin-top: 150px;
        font-style: italic;
        font-size: medium;
        line-height: calc(2);
        text-align: center;
            section{
                color: $color-fuente;
                    img{
                    width: 90px;
                    height: 75px;
                    transform: rotate(0);
                    }
                }
                ul{
                font-style: italic;
                color: $color-fuente ;
                line-height: calc(2);
                font-size: larger;
                align-items: center;
                display: grid;
                    li{
                        color: $color-fuente;
                        }
                    a{  
                        color: $color-fuente;
                            &:visited{
                                color: rgba(206, 206, 216, 0.473);
                                }    
                            &:hover {
                                color: $color-fuente;
                                text-shadow: 1px 1px rgb(247, 244, 241);
                            }
                            a:active {
                                color: #000;
                                text-shadow: rgb(247, 244, 241);
                            }
                }
            }
        }
    }}
    
@media screen and (min-width: 768px) {
    body{
        background-image: url(../img/charcoal.gif);
        
        header{
            text-align: center;
            
            img{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 5;
            }
            
            h3{
                margin-top: 25px;
                border: solid 5px $color-fuente;
                text-align: center;
                font-style: italic;
                color: $color-fuente;
                text-shadow: 1px 1px rgb(247, 244, 241);
                font-size: xx-large;  
                position: relative;
                margin-bottom: 50px;
                margin-left: 150PX;
                margin-right: 150px;
            }
            
            nav{
                display: flex;
                justify-content: center;
                
                    ul{
                        font-style: italic;
                        color: $color-fuente ;
                        line-height: calc(2);
                        font-size: larger;
                        align-items: center;
                        display: grid;
                        
                            li{
                                color: $color-fuente;}
                            a{  
                                color: $color-fuente;
                                    &:visited{
                                        color: rgba(206, 206, 216, 0.473);
                                        }    
                                    &:hover {
                                        color: $color-fuente;
                                        text-shadow: 1px 1px rgb(247, 244, 241);
                                    }
                                    a:active {
                                        color: #000;
                                        text-shadow: rgb(247, 244, 241);
                                    }
                                }
                            }
                        }
        main{
            font-style: italic;
            text-align: center;
            font-size: large;
            width: 100px;
            article{
                color: $color-fuente;
                width: 100px;
                    p{ 
                        background-color: #333;
                        border: solid 5px #000;
                        color: $color-fuente;
                        width: 100px;
                        
                    }
                }
            }
        }
        section{
            align-items:center;
                img{
                    margin-top: 100px;
                    border-radius: 50px;
                    align-items: center;
                    height: 100px;
                    width: 100px;
                    &:hover{
                    transform: rotate(15deg);}
                }
            }
        footer{
            color: $color-fuente;
            margin-top: 150px;
            font-style: italic;
            font-size: medium;
            line-height: calc(2);
            text-align: center;
                section{
                    color: $color-fuente;
                        img{
                        width: 90px;
                        height: 75px;
                        transform: rotate(0);
                        }
                    }
                    nav{
                        display: flex;
                        justify-content: center;
                    ul{
                    font-style: italic;
                    line-height: calc(2);
                    font-size: larger;
                    align-items: center;
                    display: grid;
                    
                        li{
                            color: $color-fuente;
                            }
                        a{  
                            color: $color-fuente;
                                &:visited{
                                    color: rgba(206, 206, 216, 0.473);
                                    }    
                                &:hover {
                                    color: $color-fuente;
                                    text-shadow: 1px 1px rgb(247, 244, 241);
                                }
                                a:active {
                                    color: #000;
                                    text-shadow: rgb(247, 244, 241);
                                }
                            }
                        }
                    }
                }
            }
        }