
/* Diseño responsive */
@media screen and (min-width: 320px) {
    body{
        background-image: url(./img/charcoal.gif);
        text-align: center;
    }
    /* logo pagina */
    header img{
        position: fixed;
        top: 0;
        left: 0;
    }
    
    /*Menu links*/
    nav{
        display: flex;
        justify-content: center;
    }
    
    a:visited{
        color: rgba(206, 206, 216, 0.473);
    }
    
    
    a:hover {
        color: rgb(143, 127, 87);
        text-shadow: 1px 1px rgb(247, 244, 241);
    }
    a:active {
    color: #000;
    text-shadow: rgb(247, 244, 241);
    }
    
    /* Titulo */
    header h3{
        margin-top: 25px;
        text-align: center;
        border: solid 5px rgb(143, 127, 87);
        font-style: italic;
        color: rgb(143, 127, 87);
        text-shadow: 1px 1px rgb(247, 244, 241);
        font-size: xx-large;  
        position: relative;
        margin-bottom: 50px;
    }
    
    /* Titulo otras paginas */
    h4{
        margin-top: 100px;
        font-style: italic;
        color: rgb(143, 127, 87);
        text-shadow: 1px 1px rgb(247, 244, 241);
        font-size: x-large;  
        position: relative;  
        text-align: center;
    }
    /* menu */
    header nav{
        font-style: italic;
        color: rgb(143, 127, 87);
        line-height: calc(2);
        font-size: larger;
        align-items: center;
        display: grid;
    }
    /* articulo */
    main article p{
        font-style: italic;
        color: rgb(143, 127, 87);
        text-align: center;
        font-size:large;
        background-color: #333;
        border: solid 5px  #000;
    }     
    
    /* imagenes carta */
    .carta{
        margin-top: 100px;
        border-radius: 50px;
        align-items: center;
        height: 200px;
        width: 300px;
        transform: rotate(15deg);
    }
    
    section img{
        border-radius: 50px;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        margin-bottom: 50px;
    }
    
    /*Formulario */    
    section article form {
        margin-top: 50px;
        font-size: large;
        font-style: italic;
        color: rgb(143, 127, 87);
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 75px 75px 75px 75px 75px 75px;
        align-items: center;
        padding: 20px;
    }
    
    .textarea{
        width: 275px;
        height: 275px;
        }
    
    /* Comienzo del footer */
    footer section img{
        margin-top: 150px;
        font-style: italic;
        text-align: center;
        font-size: large;
        line-height: calc(2);
        width: 90px;
        height: 75px;
    }
    }
    
    /* Diseño tamaño web */
@media screen and (min-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        background-image: url(./img/charcoal.gif);
        text-align: center;
    }
    /* logo pagina */
    header img{
        position: fixed;
        top: 0;
        left: 0;
    }
    /* Titulo */
    header h3{
        margin-left: 150px;
        margin-right: 150px;
        text-align: center;
        border: solid 5px rgb(143, 127, 87);
        font-style: italic;
        color: rgb(143, 127, 87);
        text-shadow: 1px 1px rgb(247, 244, 241);
        font-size: xx-large;  
        position: relative;  
    }
    
    
    /*Menu links*/
    nav{
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
    
    a:visited{
        color: rgba(206, 206, 216, 0.473);
    }
    
    
    a:hover {
        color: rgb(143, 127, 87);
        text-shadow: 1px 1px rgb(247, 244, 241);
    }
    a:active {
    color: #000;
    text-shadow: rgb(247, 244, 241);
    }
    
    /* Titulo otras paginas */
    h4{
        font-style: italic;
        color: rgb(143, 127, 87);
        text-shadow: 1px 1px rgb(247, 244, 241);
        font-size: x-large;  
        position: relative;  
    }
    /* menu */
    header nav{
        font-style: italic;
        color: rgb(143, 127, 87);
        line-height: calc(2);
        text-align: center;
        height: 200px;
        font-size: larger;
    }
    /* articulo */
    main article p{
        margin-left: 150px;
        margin-right: 150px;
        font-style: italic;
        color: rgb(143, 127, 87);
        text-align: center;
        font-size:large;
        background-color: #333;
        border: solid 5px  #000;
    }     
    
    /* imagenes carta */
    section img{
        border-radius: 50px;
        align-items: center;
        height: 200px;
        width: 300px;
        margin-top: 100px;
    }
    
    section article{
        font-size: large;
        font-style: italic;
        color: rgb(143, 127, 87);
        font-size: large;
        margin-bottom: 100px;
        text-shadow: none;
    }
    
    /*Formulario */    
    section article form {
        margin-top: 50px;
        font-size: large;
        font-style: italic;
        color: rgb(143, 127, 87);
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 75px 75px 75px 75px 75px 75px;
        padding-left: 43%;
    }
    
    /* Comienzo del footer */
    footer section img{
        font-style: italic;
        text-align: center;
        font-size: large;
        line-height: calc(2);
    }
    }